*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 18px;
    font-family: serif;

}
.logo{
    height: 50px;
    width: 50px;
    background-color: aqua;
    text-align: center;
    font-size: 40px;
    float: left;
    overflow: hidden;
    margin-left: 20px;
}
.hamburger{
    height: 30px;
    width: 30px;
    font-size: 12px;
    float: right;
    margin-right: 20px;
    overflow: hidden;

}
section{
    position: relative;
}
.main_content h2{
    color:black;
}
.main_content h2::first-line{
    color:aqua;
}
.main_content{
    margin:100px 0 0 20%   ;
    display:inline-block;
    width: 600px;
    height: 800px;
}

.side_image{
    height: 500px;
    width: 300px;
    background: grey;
    position: absolute;
    top:10%;
    margin-left: 20%;
    left:550px;
    display:inline-block;
    z-index: -1;


}

.bg_text about{
    position: absolute;
    font
    //z-index
}
.bg_text creative{
    position: absolute;
/*    z-index: */
}
