#clickme{
    width:100px;
    height:100px;
    background:blue;
    cursor:pointer;
    margin: 30px;
    position: relative;
}
#clickme::before{ /* :: is for pseudo elements*/
    content: url(../class3/assets/assets/rainbow.png); /*psuedo content MUST have content*/
    display: block;
    position:absolute;
    top:10px;
    left:100px; /* moves to to the left of pseudo element (clickme)*/
    background: #fff;
    border: 1px solid black;
    width:100px;
    height:100px;

}

#clickme::after{
    content: attr(data-something); /*will put data value as the text for content*/
    display: block;
    position:absolute;
    top:10px;
    left:100px;
    background: #fff;
    border: 1px solid black;
    width:100px;
    height:100px;
}

a{
    position: relative;
}
a:after{
    position: absolute;
    content: attr(data-title);
    background: orange;
    bottom:100%; /*bottom of tool tip will line up to the top of the link*/
    left:20%;
    white-space: nowrap; /* no line breaks, styas in one line*/
    display: none;
}
a:hover:after{
    display: inline-block;

}

#menu{
    position:absolute;
    width: 100px;
    right:-100px;

}
body{
 overflow-x: hidden;/* x is for things that go across horizontally*/
}

tr{
    padding:10px;

    background:#eee;
}
td{
    border: 1px solid #333;
}

table{
    margin:50px;
}

input, textarea, select{
    display: block;
    margin:20px;
}
input[type="checkbox"], input[type="radio"]{
    display: inline-block;
    margin: 10px;
}
input:focus{
    box-shadow: 0 0 5px #111;

}
input:invalid{
    color:red
}
input:valid{
    color: green;
}
input:required{
    border: 3px solid purple;
}
