@font-face{
    font-family:"contact icons";
    src: url('Entypo.otf');
    font-weight: normal;
    font-style: normal;
}
#phone{
    font-family:"contact icons";
    font-size: 2.5em;
    line-height: .1em;
}
#email{
    font-family:"contact icons";
    font-size: 2.5em;
    line-height: .1em;
}
#address{
    font-family:"contact icons";
    font-size: 2.5em;
    line-height: .1em;
}
html{


}
img{
    width: 300px;
    height: 150px;

}
div{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    padding-right: 20px;

}
#burgundy{
    background-color: #8C001A;
}
#white{
    background-color: #FFFFFF;
}
#grey{
    background-color: #696969;
}
#font{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 5em;
}
