*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

header{
    width:1024px;
    height:54px;
    background: #EB5757;
}
.menu{
    width:38px;
    height: 38px;
    background: #FFFEFE;
    float: right;
    box-shadow: 3px,3px,5px,6px,#ccc;
    margin-top: 7px;
    margin-right: 10px;
    font-size: 20px;



}

aside{
    background: white;
    border:1px solid black;
    width:230px;
    height:374px;
    float:right;
}

ul{
    font-size: 18px;

}

main{
    width: 1024px;
    height:573px;
    background:#F2C94C;
}

footer{
    width:1024px;
    height:397px;
    background:#F2994A;
}
